<div class="row">
    <h1>Proyectos realizados</h1>
    <div class="contenedor">
        <div class="col-sm-12 col-md-7 col-lg-7 parte1">
        <h1>Rosario Central App</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente, quisquam ab explicabo sed porro vitae quibusdam doloremque perspiciatis quia autem. Obcaecati distinctio, optio est itaque labore laborum quisquam. Distinctio, unde?</p>
        </div>
        <div class="col-sm-12 col-md-3 col-lg3 offset-md-1 parte2">  
        <img src="../../../assets/RCapp.png" class="img-fluid img-proyecto">
        </div>
    </div>
</div>

