<div class="row">
    <div class="container">
        <div class="logo">
            <img src="../../../assets/APLogo.png" alt="Logo Argentina Programa" id="logoAP">
        </div>
        <div class="redes">
                <a href="https://www.facebook.com/Gonzalo.Pissia/"><img src="../../../assets/facebook.png" ></a>
                <a href="https://www.instagram.com/gmpissia/?hl=es-la"><img src="../../../assets/instagram.png" ></a>
                <a href="https://www.linkedin.com/in/gonzalo-martin-pissia-2a6019143/"><img src="../../../assets/linkedin.png" ></a>
                <a href="https://twitter.com/gmpissia"><img src="../../../assets/twitter.png" ></a>
                <a href="https://github.com/gmpissia"><img src="../../../assets/github.png" ></a>
                <button type="button" class="btn btn-outline-light">INGRESO</button>
        </div>
    </div>
</div>

